.list {
  padding-left: 0;
  margin-bottom: 0;

  li {
    padding: 10px 16px;
    border-bottom: 1px solid #e2e5ea;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }
  }

  time {
    color: #818f8f;
    font-size: 14px;
  }

  .opponent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 8px;

    border-left: 4px solid #e43726;

    &.winner {
      border-color: #28b662;

      .score {
        font-weight: 700;
      }
    }
  }
}
